{% extends 'masterpage.html' %}
{% block content %}
{% load static %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Car Booking</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="/">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Car Booking</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Detail Start -->
    {% for car in cars %}
    <div class="container-fluid pt-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase mb-5">{{car.model_name}}</h1>
            <div class="row align-items-center pb-2">
                <div class="col-lg-6 mb-4">
                    <img class="img-fluid" src="{{car.car_image.url}}" alt="">
                </div>
                <div class="col-lg-6 mb-4">
                    <h4 class="mb-2">₹{{car.charge}}/Hour</h4><br>
                       <h6>Terms and Conditions:</h6>
                        <ul>
                            <li>
                                All renters must be 18 years of age or older and possess a valid driver's license.
                            </li>
                            <li>
                                Renters are required to carry their physical driver's license with them during the duration of the rental period.
                            </li>
                            <li>
                                The vehicle will be provided with a full tank of fuel, and renters are expected to return the vehicle with the same fuel level.
                            </li>
                            <li>
                                Any damages incurred during the rental period will be the responsibility of the renter, as outlined in the Rental Agreement.
                            </li>
                        </ul>
                </div>
            </div>
            <div class="row mt-n3 mt-lg-0 pb-4">
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-car text-primary mr-2"></i>
                    <span>Model: {{car.model_year}}</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-cogs text-primary mr-2"></i>
                    <span>{% if car.is_manual == 0 %}AUTO{% else %}MANUAL{% endif %}</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fa fa-road text-primary mr-2"></i>
                    <span>{{car.mileage}}km/liter</span>
                </div>
                <div class="col-md-3 col-6 mb-2">
                    <i class="fas fa-gas-pump text-primary mr-2"></i>
                    <span>{%if car.is_diesel == 0 %}Petrol{% else %}Diesel{% endif %}</span>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Detail End -->


    <!-- Car Booking Start -->
<form action="{% url 'payment'%}" method="POST">
    {% csrf_token %}
    <div class="container-fluid pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <h2 class="mb-4">Booking Detail</h2>
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label>Pickup Pincode</label>
                                <select class="custom-select px-4 mb-3" style="height: 50px;" name="pickup_pincode">
                                    {% for area in areas%}
                                    <option value="{{area.pincode}}">{{ area.pincode }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <label for="pickuplocation">Pickup Location:</label>
                                <input type="text" class="form-control p-4" placeholder="Pickup Location" id="pickuplocation" name="pickuplocation" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <label>Drop Pincode</label>
                                <select class="custom-select px-4 mb-3" style="height: 50px;" name="drop_pincode">
                                {% for area in areas%}
                                    <option value="{{area.pincode}}">{{ area.pincode }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <label for="droplocation">Drop Location:</label>
                                <input type="text" class="form-control p-4" placeholder="Drop Location" id="droplocation" name="droplocation" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <label for="pickupdate">Pickup (date and time):</label>
                                    <input type="datetime-local" class="form-control p-4 datetimepicker-input" placeholder="Pickup Date"
                                         data-toggle="datetimepicker" id="pickupdate" name="pickupdate" onclick="setminPickDate()" onchange="setMinDropDate()" required/>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <label for="dropdate">Drop (date and time):</label>
                                    <input type="datetime-local" class="form-control p-4 datetimepicker-input" placeholder="Drop Date"
                                         data-toggle="datetimepicker" id="dropdate" name="dropdate" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" required> I've read the <a href="/terms" target="_blank">terms and conditions</a><span style="color:red">*</span>
                    <input type="hidden" id="flag" name="flag" value="0" />
                    <button class="btn btn-block btn-primary py-3">Reserve Now</button>
                </div>

            </div>
        </div>
    </div>
    </form>
    <!-- Car Booking End -->
<script>
function setminPickDate(){
    var dateTimeInput = document.getElementById("pickupdate");
    var currentDate = new Date();
    // Adding 2 hours to the current date
    currentDate.setHours(currentDate.getHours() + 2);
    var formattedDate = currentDate.toISOString().substring(0, 16);
    dateTimeInput.setAttribute("min", formattedDate);
    dateTimeInput.setAttribute("value", formattedDate); // Set the value to the minimum allowed time
}

    function setMinDropDate(){
        var dateTimeInput = document.getElementById("dropdate");
        var mindate = new Date(document.getElementById("pickupdate").value);
        var formattedDate = mindate.toISOString().substring(0, 16);
        dateTimeInput.setAttribute("min", formattedDate);
    }</script>

 {% endblock %}