{% extends 'masterpage.html' %}
{% block content %}
{% load static %}
<style>
    #search{
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:  #ffffff;
    box-shadow: 4px 2px 4px 0 ;
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;;
    border-right: 0;
    color:#4E565C;
    outline: none;
    -webkit-appearance: none;
}

</style>
    <!-- Search Start -->
    <div class="container-fluid bg-white pt-3 px-lg-5">
       <form method="post" action="/cars">
           {% csrf_token %}
           <div class="row">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-4">
                    <input type="search" placeholder="search here..." class="mb-6" id="search" name="search">
                </div>
                <div class="col-xl-2 ">
                    <button class="btn btn-primary btn-block mb-3" type="submit" style="height: 50px;">Search</button>
                </div>
            </div>
       </form>
    </div>
 <!-- Rent A Car Start -->
 <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
       <!-- <h1 class="display-1 text-primary text-center">02</h1>-->
        <h1 class="display-4 text-uppercase text-center mb-5">Find Your Car</h1>
        <div class="row">
            {% for car in cars %}
            <div class="col-lg-4 col-md-6 mb-2">

                <div class="rent-item mb-4">
                    <img class="img-fluid mb-4" src="{{car.car_image.url}}" alt="">
                    <h4 class="text-uppercase mb-4">{{ car.model_name }}</h4>
                    <div class="d-flex justify-content-center mb-4">
                        <div class="px-2">
                            <i class="fa fa-car text-primary mr-1"></i>
                            <span>{{ car.model_year }}</span>
                        </div>
                        <div class="px-2 border-left ">
                            <i class="fa fa-cogs text-primary mr-1"></i>
                            {% if car.is_manual == 0 %}
                            <span>AUTO</span>
                            {% else %}
                            <span>MANUAL</span>
                            {% endif %}
                        </div>

                    </div>
                    {% comment %} <a class="btn btn-primary px-3" href="/carDetails">{{ car.charge }}/hour</a> {% endcomment %}
                    <a class="btn btn-primary px-3" href="{% url 'carDetails' car.car_id %}">Rs. {{ car.charge }}/hour</a>
                    
                </div>
            </div>
                {% endfor %}
        </div>
    </div>
</div>
<!-- Rent A Car End -->


{% endblock %}