<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! Something went wrong</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-5">
            <h2>Oops! Something went wrong</h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119 110.75" x="0px" y="0px"><path d="M99.26,50.31c-.37-1.62-1.99-2.62-3.6-2.25-1.62,.37-2.62,1.98-2.25,3.6,.59,2.56,.89,5.2,.89,7.85,0,19.19-15.61,34.81-34.81,34.81s-34.81-15.61-34.81-34.81S40.31,24.69,59.5,24.69c11.29,0,21.92,5.51,28.44,14.74,.96,1.35,2.83,1.67,4.18,.72,1.35-.96,1.67-2.83,.72-4.18-7.65-10.82-20.11-17.28-33.34-17.28-22.5,0-40.81,18.31-40.81,40.81s18.31,40.81,40.81,40.81,40.81-18.31,40.81-40.81c0-3.1-.35-6.19-1.04-9.19Z"/><circle cx="59.5" cy="76.61" r="3"/><path d="M62.5,40.14c0-1.66-1.34-3-3-3s-3,1.34-3,3v28.17c0,1.66,1.34,3,3,3s3-1.34,3-3v-28.17Z"/></svg>
            <p>We're sorry for the inconvenience. Please try again later.</p>
            <a href="{% url 'homePage' %}" class="btn btn-primary">Go back home</a>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
