{% extends 'masterpage.html' %}
{% block content %}
{% load static %}
{% csrf_token %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
<style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1E32 !important;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    background-color: rgba(255,255,255,0.13);
<!--    position: absolute;-->
    transform: translate(-50%,-50%);
    margin-left:25%;
    margin-right:25%;
    margin-top: 2%;
    margin-bottom: 2%;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom:45px;

        text-decoration-color: white; /* Set the color of the underline */
    text-decoration-thickness: 3px; /* Set the thickness of the underline */
    text-underline-offset: 5px;

}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input , textarea{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 32px;
    margin-bottom:34px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}


.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

/* Custom styling for file input */
.form-group .file-upload-container {
    position: relative;
    margin-top:-25px;
}

.form-group .file-upload-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.form-group .file-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.form-group .file-upload-label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

        .file-preview {
    display: none;
    margin-top: 10px;
}

.file-preview img {
    width: 150px; /* Set width */
    height: 150px; /* Set height */
    object-fit: cover; /* Preserve aspect ratio */
    border-radius: 5px;
}

        .signup-line {
    width: 50%;
    margin: 0 auto;
    border-color: #ffffff;
}

                .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form name="detailsForm" action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="cust_image" name="cust_image" value="{{cust.cust_image}}" accept=".png, .jpg, .jpeg" />
                <label for="cust_image"></label>
            </div>
            <div class="avatar-preview">
                <div id="cust_imagePreview" style="background-image: url('{{cust.cust_image.url}}');">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            <label for="username">Full name</label>
            <input type="text" placeholder="Enter full name" value="{{cust.name}}" name="username" id="username"  min="5" maxlength="100" required>
            </div>
            <div class="col-6">
            <label for="phone">Phone Number</label>
            <input type="text" placeholder="Enter Phone Number" value="{{cust.phone_no}}" name="phone" id="phone" required pattern="\d{10}">

            </div>
            <div class="col-12">
            <label for="address">Address</label>
            <textarea placeholder="Your Address" name="address" id="address"   required>{{cust.address}} </textarea>

            </div>
            <div class="col-6">
            <label for="dl">Driving Licence No</label>
            <input type="text" placeholder="GJ-2018-230895-1234"  value="{{cust.dl_no}}" name="dl" id="dl" required >

            </div>
            <div class="col-6">
                <label for="dl_image">Driving Licence Image</label>
                <div class="file-upload-container">
                    <input type="file" name="dl_image" id="dl_image" accept="image/*" value="{{cust.dl_image}}" class="file-upload-input"  >
                </div>
                <div id="dl_imagePreview" style="background-size: cover; background-repeat: no-repeat;
  background-position: center;  width: 192px; height: 192px;
  margin: auto;  position: relative; background-image: url('{{cust.dl_image.url}}');">
                </div>
            </div>
        </div>

        <button type="submit">Save Details</button>

    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="path/to/your/validation-script.js"></script> -->
<script>


  $("#dl_image").change(function () {
	if (typeof (FileReader) != "undefined") {
		var dvPreview = $("#dl_imagePreview");
		dvPreview.html("");
		$($(this)[0].files).each(function () {
			var file = $(this);
				var reader = new FileReader();
				reader.onload = function (e) {
					var img = $("<img />");
					img.attr("style", "width: 150px; height:100px; padding: 10px");
					img.attr("src", e.target.result);
					dvPreview.append(img);
				}
				reader.readAsDataURL(file[0]);
		});
	} else {
		alert("This browser does not support HTML5 FileReader.");
	}
});
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#cust_imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#cust_imagePreview').hide();
            $('#cust_imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#cust_image").change(function() {
    readURL(this);
});
    </script>

{% endblock %}
