<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Car Rental Terms and Conditions - Car Castle</title>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    color: orange;
    background-color: #f2f2f2;
}

p {
    line-height: 1.6;
    color:#A9A9A9;
}

h2 {
    margin-top: 20px;
}

.highlight {
    color: #ff6600;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid  orange;
    padding: 8px;
    text-align: left;
}
li{
    color:#A9A9A9;
}

th {
    background-color: orange;
    color: gray;
}
strong{
    color:gray;
}

</style>
</head>
<body>

<div class="container">
    <h1>Car Castle Terms and Conditions</h1>


    <p><strong>Eligibility Age:</strong> 18 years or above</p>
    <p><strong>Documents Required:</strong></p>
    <ul>
        <li>Indian National: Driving Licence, Latest Electricity Bill (Voter ID card optional), Aadhaar Card Number and Copy. Documents should be email from Corporate email ID. Self Employed: GST or PAN of company.</li>
        <li>Foreign National: International Driving Permit (IDP), Passport Copy, Any Resident proof apart from Passport, Credit Card.</li>
    </ul>

    <p><strong>Rental Period:</strong> From the time of collecting the Vehicle until its return.</p>
    <p><strong>Token :</strong> Customer will be charged extra ₹5000 as the token money.</p>
    <p><strong>Included KMs:</strong> Unlimited</p>
    <p><strong>Fuel:</strong> The Vehicle will be provided with a full tank of fuel. In case the tank is not full at the time of return of Vehicle, the User will be charged for short fuel on fuel price of the day the car was returned.</p>
    <p><strong>GPS Navigation system/Child Safety Seat:</strong> Available on request with additional charges (Subject to availability)</p>
    <p><strong>Threshold time:</strong> In case of late return, the User will be allowed a leverage of 1 hour for returning the Vehicle after that late return charges shall be applicable.</p>
    <p><strong>Extra Usage Policy:</strong></p>
    <ul>
        <li>Guest needs to inform Car Castle in advance for rental extension.</li>
        <li>An extension of up to 1 hour is permissible if informed with no extra charges.</li>
        <li>If the extension exceeds 1 hour, following charges will be applicable for every hour including the extension:</li>
    </ul>
    <table>
        <tr>
            <th>Late Fee (Per Hour)</th>
            <th>Car Model</th>
        </tr>
        <tr>
            <td>Rs. 300/hr.</td>
            <td>Swift, Figo, i10 Grand, Dzire and Amaze</td>
        </tr>
        <tr>
            <td>Rs. 400/hr.</td>
            <td>Ciaz, Etios, Scorpio, and City</td>
        </tr>
        <tr>
            <td>Rs. 400/hr.</td>
            <td>Duster, Baleno, Brezza, Creta, Eco Sports, Ertiga, Innova, Innova Crysta and Xuv500</td>
        </tr>
        <tr>
            <td>Rs. 1000/hr.</td>
            <td>BMW 5 SERIES</td>
        </tr>
        <tr>
            <td>Rs. 1250/hr.</td>
            <td>BMW X5</td>
        </tr>
    </table>
    <p>For extension/late return, guests are requested to check with Car Castle Customer Care (+91 124-4724888) or email (carcastle@example.com) at least 4 hours prior to the drop off time.</p>
    <p><strong>Over Speeding Charges:</strong> Customers are allowed to drive the Vehicle up to a maximum speed of 80 km/hr, beyond which the Vehicle will be considered as over speeding. A penalty of <span class="highlight">Rs. 200</span> will be charged on the first instance, followed by a further penalty of <span class="highlight">Rs. 500</span> and <span class="highlight">Rs. 1000</span> for 2nd instance and 3rd instance respectively making it a total of <span class="highlight">Rs. 1,700</span> after third instance. After the third instance, Booking will stand cancelled and the Company shall get the right to take back the Vehicle and terminate the Agreement.</p>
    <p><strong>Car Castle Cancellation Policy :</strong></p>
    <ul>
        <li>Prior to 5 hours from reporting time: No Cancellation Charge.</li>
        <li>Within 0 - 4 hours from rental time: 100% deduction on the Total Rental amount.</li>
        <li>No show: 100% deduction on the Total Rental amount.</li>
    </ul>
    <p><strong>No show:</strong> In case of No-Show no amount will be refunded to the User.</p>
    <p><strong>Vehicle Damage:</strong> Damage charges to be paid by User in terms of the Rental Agreement. In case damage cost goes beyond Security Deposit Amount insurance claim may be filed and Repair/depreciation amount (In case of insurance claim) & Parts which are not covered under insurance will be recovered from the User. The assessment of damage made by Company will be final. Insurance claim is subject to Company"s discretion.</p>
    <p><strong>Outstation:</strong> This outstation policy applies exclusively to trips within the state limit, limited to Ahmedabad. Any travel beyond this limit may require additional permissions or adherence to different policies.</p>
    <p><strong>Traffic Rule Violation:</strong>Cost for any traffic rule violation during the Rental Period will be borne by the User directly. In cases, where challans is received by the Company via post upon completion of the Agreement, the User authorizes the Company to charge the same on the credit card number of the User as mentioned in this Agreement offline. In the event where the Company has not charged on the credit card number of the User, it shall be entitled to recover the amount from the User in his next booking. The User shall follow all the rules and regulation under applicable laws while driving the Vehicle and otherwise including applicable speed limits.</p>
    <p><strong>Refund Policy:</strong> Car Castle India will process your refund within 21 working days as per our cancellation and refund policy.</p>