{% extends 'masterpage.html' %}
{% block content %}
{% load static %}

<body>
<div class="container-fluid pt-5">
     <form  method="POST">
                        {% csrf_token %}
<table class="table table-bordered table-3d">
    <tbody>

        <tr>
            <th>Car</th>
            <th>Car Name</th>
            <th>Pickup date & time</th>
            <th>Drop date & time</th>
            <th>Amount</th>
            <th>Registration No.</th>
            <th>Status</th>
            <th>Cancel booking</th>
        </tr>
        {% for booking in bookings %}

        <tr>
            <td><img src="{{booking.car.car_image.url}}" height="200px" width="300px"></td>
            <td>{{booking.car.model_name}}</td>
            <td>{{booking.start_date_time}}</td>
            <td>{{booking.end_date_time}}</td>
            <td>{{booking.amt}}</td>
            <td>{{booking.car.registration_no}}</td>
            <td>{{booking.status}}</td>
            <td>
                {% if booking.time > 5 and booking.status != 'cancelled' %}

                        <input type="hidden" id="flag" name="flag" value="1" />
                        <input type="hidden"  id="booking_id" name="booking_id" value="{{booking.booking_id}}"/>
                        <input type="submit" id="smt" name="smt" value="Cancel">

                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 </form>
</div>
</body>
{% endblock content %}